@model VenteMobile.Models.Critique

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Critique</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CritiqueText" class="control-label"></label>
                <input asp-for="CritiqueText" class="form-control" />
                <span asp-validation-for="CritiqueText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CritiqueEtoiles" class="control-label"></label>
                <input asp-for="CritiqueEtoiles" class="form-control" />
                <span asp-validation-for="CritiqueEtoiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CritiqueNom" class="control-label"></label>
                <input asp-for="CritiqueNom" class="form-control" />
                <span asp-validation-for="CritiqueNom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneId" class="control-label"></label>
                <select asp-for="TelephoneId" class ="form-control" asp-items="ViewBag.TelephoneId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

