@model VenteMobile.Models.Critique

@{
    ViewData["Title"] = "Edit";
}

<h3 style="text-align:center"><B> Liste une Critique</B></h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CritiqueId" />
            <div class="form-group">
                <label asp-for="CritiqueText" class="control-label"></label>
                <input asp-for="CritiqueText" class="form-control" />
                <span asp-validation-for="CritiqueText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CritiqueEtoiles" class="control-label"></label>
                <input asp-for="CritiqueEtoiles" class="form-control" />
                <span asp-validation-for="CritiqueEtoiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CritiqueNom" class="control-label"></label>
                <input asp-for="CritiqueNom" class="form-control" />
                <span asp-validation-for="CritiqueNom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneId" class="control-label"></label>
                <select asp-for="TelephoneId" class="form-control" asp-items="ViewBag.TelephoneId"></select>
                <span asp-validation-for="TelephoneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Cliquer ici pour revenir", "Details", "Telephones", new { id = Model.Telephone.TelephoneId })
</div>

