@model VenteMobile.Models.Manufacturier

@{
    ViewData["Title"] = "Details";
}

<h3 style="text-align:center"><B>Details Manufacturier</B></h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ManufacturierMarque)*@
            Marque
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturierMarque)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ManufacturierSiteWeb)*@
            SiteWeb
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturierSiteWeb)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.ManufacturierOrigine)*@
            Siège social
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ManufacturierOrigine)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ManufacturierId">Edit</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
