@model VenteMobile.Models.Vendeur

@{
    ViewData["Title"] = "Create";
}

<h6>Ajouter un vendeur</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VendeurNom" class="control-label"><B>Nom</B></label>
                <input asp-for="VendeurNom" class="form-control" />
                <span asp-validation-for="VendeurNom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendeurAddress" class="control-label"><B>Address</B></label>
                <input asp-for="VendeurAddress" class="form-control" />
                <span asp-validation-for="VendeurAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VendeurNoTel" class="control-label"><B>NoTel</B></label>
                <input asp-for="VendeurNoTel" class="form-control" />
                <span asp-validation-for="VendeurNoTel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

