@model VenteMobile.Models.Vendeur

@{
    ViewData["Title"] = "Details";
}

    <h6>Details de Vendeur</h6>

<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.VendeurNom)*@
            Nom
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendeurNom)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.VendeurAddress)*@
            Address
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendeurAddress)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.VendeurNoTel)*@
            NoTel
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendeurNoTel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VendeurId">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
